tensorflow==2.6.1
pandas==1.2.5
scikit-learn==0.24.2
pytest==6.2.4
coverage==5.5
pytest-cov==2.12.1
pylint==2.8.3
flake8==3.9.2
PyYAML==5.4.1

## The following requirements were added by pip freeze:
numpy==1.19.5
requests==2.25.1
